UFOBIN     bin "ufo.bin"
FONTDIGITS bin "font-digits.bin"
FONTBIG    bin "font-big.bin"
FONTSMALL  bin "font-small.bin"
FONTSMALLW bin "font-small-w.bin"
COMMA      bin "comma.bin"
COPYRIGHT  bin "copyright.bin"
